.container {
  width: 60%;
  margin-left: 2rem;
}
  
header {
    color: teal;
    
}

body {
    background-color: whitesmoke;
    background-image: url"500_F_124580622_omuq5mRFfXmVbcNqrRxdsnKyQzRIAo9o.jpg;";
}

hr {
    border-bottom-width: 5px;
    Color: teal;
    border-style: solid;

}
button {
    background-color: teal;
    color: white;
}

#left {
    float: left;
    padding: 0 10px 0 0;}
.btn-default

 
{  background-color: teal;
    background-repeat: repeat-x;
    background-image: teal; 
    color:whiw
    
    
  }

  .btn-primary {
    background-color: teal;
    background-repeat: repeat-x;
    background-image: teal; 
  
  }


  h1:after {

    left: 2rem;
    width: 90%;
    border-bottom: 0.5px solid teal;
  }

  .image {
    width:100px;
    height:100px;
    background: url(http://goo.gl/vyAs27) no-repeat scroll 0 0;
  }
  .nav-brand{
    margin-left: ($spacer * .25) !important;
  }


  h1:after
{
    content:' ';
    display:block;
    border-left:0.5px solid black;
}

.card {
    margin-top: 20 rem;
    margin-left: 2 rem;
}

img {
    float: left;
    width: 300px;
    height: 300px;
    margin: 1em;
}
footer {
    width:100%;
    border-top: 1px solid teal;
    border-width: 5px;
    color: teal;
    background: darkslategray;
    padding: 1em;
}