#container {
    display: table;
    margin: 0 auto;
    text-align: center;
  }
  
header {
    color: teal;
    
}

.button {
    background-color: teal;
}
  h1:after {

    left: 2rem;
    width: 90%;
    border-bottom: 0.5px solid black;
  }

  .image {
    width:100px;
    height:100px;
    background: url(http://goo.gl/vyAs27) no-repeat scroll 0 0;
  }
  .nav-brand{
    margin-left: ($spacer * .25) !important;
  }


  h1:after
{
    content:' ';
    display:block;
    border-left:0.5px solid black;
}

.card {
    margin-top: 20 rem;
    margin-left: 2 rem;
}