h1{
  color: #20B2AA;
  padding: 1rem;
  font-family: 'Playfair Display', serif;
  font-weight: bold;
}

.navbar-brand { 
  font-family: 'Playfair Display', serif;
  padding: 0.3em;
  background-color: #20B2AA;
  margin-left: 20px;
  margin-top: 5px;
  margin-bottom:5px;
}

body {    
  background-image: url("style.css/500_F_124580622_omuq5mRFfXmVbcNqrRxdsnKyQzRIAo9o.jpeg");
}

h3 {color: white;}


hr {
  position: relative;
  left: 5%;
  margin-left:1em;
  color:grey;
  width:90%;
}

.btn-primary {
    background-color: #20B2AA;
    color: white;   
}

section { 
  margin-left: 2rem;
  width: 60%;
}

.image {
  width:100px;
  height:100px;
  background: url(http://goo.gl/vyAs27) no-repeat scroll 0 0;
}


.card {
    margin-top: 20 rem;
    margin-left: 2 rem;
}

img {
    float: left;
    width: 300px;
    height: 300px;
    margin: 1em;
}

footer {
    width:100%;
    border-top: 1px solid #20B2AA;
    border-width: 5px;
    color:  #50d0c3;
    background: grey;
    padding: 1em;
    opacity: 1;
}

#Copyright {
  opacity: 0.3;
}